<div class="jumbotron">
    Кількість запитань:
    <ul class="list-group">
      <li class="list-group-item clearfix">
        К-сть всіх запитань: <%= total_questions %>
      </li>
      <li class="list-group-item clearfix">
        К-сть простих запитань: <%= simple_questions %>
      </li>
      <li class="list-group-item clearfix">
        К-сть середніх запитань: <%= normal_questions %>
      </li>
      <li class="list-group-item clearfix">
        К-сть складних запитань: <%= complicated_questions %>
      </li>
    </ul>
    Запитання:
  <ul class="list-group">
    <% var i; for (i=0; i < questions.length; i++) { %>
    <li class="list-group-item clearfix">
      <a href="/questions/<%= questions[i].id %>"><%= questions[i].question %></a>
      <%if(session.user) {
        if (session.user.isAdmin || session.user.id === questions[i].UserId) {%>
      <span class="pull-right button-group">
        <form method="post" action="/questions/<%= questions[i].id %>?_method=delete">
          <a href="/questions/<%= questions[i].id %>/edit" class="btn btn-xs btn-primary">Редагувати</a>
          <button type="submit" onClick="return confirm('Ви хочите видалити?: <%= questions[i].question %>');" class="btn btn-xs btn-danger">Видалити</button>
        </form>
      </span>
      <%}
        }%>
    </li>
    <% } %> 
  </ul>
  <%if(session.user){%>
  <a class="btn btn-sm btn-success" href="/quizzes/new">Додати запитання</a>
  <%}%>
</div>
